/*!
*Website wooo
*Author: Will Davis
*haHAA
*/

//Bootstrap
@import "_vars.scss";
@import "customize-bootstrap.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// App Layout

@import 'app/components/app';
@import 'app/components/app-header';
@import 'app/components/app-sidebar';
@import 'app/components/app-sidebar-mini';
@import 'app/components/app-title';

html{
    height: 100%;
}

body{
    font-family: sans-serif;
    background: $primary-color-light;
}

#hname{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 15px;
}

.discretelinks{
    color: $text-color-light;
}

.discretelinks:hover{
    text-decoration: none;
    color: $text-color-light;
}

#pglist #itemcur:hover{
    cursor: default;
}

.pglist-item{
    @extend .px-3;
    @extend .col-auto;
    @extend .mx-2;
    @extend .discretelinks;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 4px;
    border-color: $border-color;
    background-color: $text-background-color-light;
}

.pglist-item:hover{
    @extend .discretelinks:hover;
    border-color: $border-color-hover;
    background-color: $background-btn-color;
}

.pglist-itemcur{
    @extend .px-3;
    @extend .col-auto;
    @extend .mx-2;
    @extend .pglist-item;
    border-color: $border-color-current;
    background-color: $background-btn-color;
}

.pcenter{
    max-width: 60%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: max-content;
}

.pcenterborder{
    @extend .discretelinks;
    @extend .discretelinks:hover;
    @extend .pcenter;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 2px 20px;
    border-color: $border-color;
    background-color: $text-background-color-light;
}

.cardborder{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    max-width: auto;
    border-color: $accent-color-light;
}