/*!
*Website wooo
*Author: Will Davis
*haHAA
*/

//Bootstrap
@import "_vars.scss";
@import "customize-bootstrap.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// App Layout

@import 'app/components/app';
@import 'app/components/app-header';
@import 'app/components/app-sidebar';
@import 'app/components/app-sidebar-mini';
@import 'app/components/app-title';

body{
    font-family: sans-serif;
}

#hname{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 25px;
}

#pglist #itemcur:hover{
    cursor: default;
}

.pglist-item{
    @extend .px-3;
    @extend .col-auto;
    @extend .mx-2;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: gray;
}

.pglist-item:hover{
    border-color: black;
    background-color: #f1f1f1;
    text-decoration: none;
}

.pglist-itemcur{
    @extend .px-3;
    @extend .col-auto;
    @extend .mx-2;
    @extend .pglist-item;
    border-color: black;
    background-color: #f1f1f1;
}